<template>
  <b-modal
    ref="addUserView"
    id="addUserView"
    title="Felhasználó kiválasztása"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validName"
    @ok="save"
    @show="setDefaultData"
  >
    <b-form>
      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="A felhasználó nevét kötelező megadni!"
        :state="validName"
      >
        <multiselect
          id="type"
          v-model="user"
          :options="userOptions"
          track-by="_id"
          label="name"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import TeamService from '@/services/TeamService'
import UserService from '@/services/UserService'

export default {
  props: ['teamId'],
  computed: {
    validName () { return !!_.get(this.user, 'name') }
  },
  data () {
    return {
      user: {},
      userOptions: []
    }
  },

  methods: {
    async save () {
      let response = await TeamService.assignUserToTeam({
        id: this.teamId,
        member: this.user._id
      })

      if (!response.data.error) {
        this.$root.$emit('team-saved', response.data)

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async getUserOptions () {
      let response = await UserService.getUsers()
      if (!response.data.error) {
        this.userOptions = _.sortBy(response.data, (user) => { return _.toLower(user.name) })

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    setDefaultData () {
      this.user = {}
      this.getUserOptions()
    }
  },
  mounted () {
    this.getUserOptions()
  }
}
</script>
