<template>
  <b-modal
    ref="customerView"
    id="customerView"
    title="Megrendelő adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validName || !validAddress || !validEmail || !validPhone"
    @ok="save"
    @hide="resetData"
    @show="show"
  >
    <b-form>
      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="A megrendelő nevét kötelező megadni!"
        :state="validName"
      >
        <b-form-input id="name" type="text" v-model="customer.name"></b-form-input>
      </b-form-group>

      <b-form-group
        id="address"
        label="Cím"
        label-for="address"
        invalid-feedback="A megrendelő címét kötelező megadni!"
        :state="validAddress"
      >
        <b-form-input id="address" type="text" v-model="customer.address"></b-form-input>
      </b-form-group>

      <b-form-group
        id="email"
        label="E-mail cím"
        label-for="email"
        invalid-feedback="A megrendelő e-mail címét kötelező megadni! Az e-mail címnek tartalmaznia kell @-ot."
        :state="validEmail"
      >
        <b-form-input id="email" type="text" v-model="customer.email"></b-form-input>
      </b-form-group>

      <b-form-group
        id="phone"
        label="Telefonszám"
        label-for="phone"
        invalid-feedback="A megrendelő telefonszámát kötelező megadni!"
        :state="validPhone"
      >
        <b-form-input id="phone" type="text" v-model="customer.phone"></b-form-input>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import CustomerService from '@/services/CustomerService'

export default {
  props: ['customer'],
  computed: {
    validName () { return !!_.get(this.customer, 'name') },
    validAddress () { return !!_.get(this.customer, 'address') },
    validEmail () { return !!_.get(this.customer, 'email') && _.includes(this.customer.email, '@') },
    validPhone () { return !!_.get(this.customer, 'phone') }
  },
  data () {
    return {
      new: false
    }
  },

  methods: {
    async save () {
      let response = null
      if (this.new) {
        response = await CustomerService.addCustomer(this.customer)
        if (!response.data.error) {
          this.$root.$emit('new-customer', response.data)
        }
      } else {
        response = await CustomerService.updateCustomer({
          id: this.customer._id,
          name: this.customer.name,
          address: this.customer.address,
          email: this.customer.email,
          phone: this.customer.phone
        })
        if (!response.data.error) {
          this.$root.$emit('update-customer', response.data)
        }
      }

      if (!response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    resetData () {
      this.$root.$emit('reset', true)
    },

    show () {
      if (_.isEmpty(this.customer)) {
        this.new = true
      }
    }
  }
}
</script>
