<template>
  <b-modal
    ref="materialView"
    id="materialView"
    title="Anyag adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validName"
    @ok="save"
    @show="setDefaultData"
  >
    <b-form>
      <b-form-group
        id="status"
        label="Állapot"
        label-for="status"
      >
        <multiselect
          id="status"
          v-model="multiStatus"
          :options="statusOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
          @input="setMaterialStatus"
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </b-form-group>

      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="Az anyag nevét kötelező megadni!"
        :state="validName"
      >
        <b-form-input id="name" type="text" v-model="material.name"></b-form-input>
      </b-form-group>

      <b-form-group
        id="price"
        label="Ár"
        label-for="price"
      >
        <b-form-input id="price" type="number" v-model="material.price"></b-form-input>
      </b-form-group>

      <b-form-group
        id="number"
        label="Darabszám"
        label-for="number"
      >
        <b-form-input id="number" type="number" v-model="material.number"></b-form-input>
      </b-form-group>

      <b-form-group
        v-if="!newMaterial"
        id="usedNumber"
      >
        {{ `Foglalva ebből az anyagból a jövőbeli javításokhoz: ${usedNumber}` }}
        <div v-if="usedNumber > material.number" style="color: red;">
          Nincs elég anyag a készleten!
        </div>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import MaterialService from '@/services/MaterialService'

export default {
  props: ['material', 'usedMaterials'],
  computed: {
    usedNumber () { return _.sum(_.map(this.usedMaterials, 'number')) },
    validName () { return !!_.get(this.material, 'name') }
  },
  data () {
    return {
      statusOptions: [
        { text: 'Készleten', value: 'inStock' },
        { text: 'Kevés', value: 'few' },
        { text: 'Rendelés alatt', value: 'order' }
      ],
      newMaterial: false,
      multiStatus: {}
    }
  },

  methods: {
    async save () {
      let response = null
      if (this.newMaterial) {
        if (!this.material.number) {
          this.material.status = 'few'
        }
        response = await MaterialService.addMaterial({
          status: this.material.status,
          name: this.material.name,
          price: this.material.price,
          number: this.material.number
        })

        if (!response.data.error) {
          this.$root.$emit('update-material', response.data)
        }
      } else {
        response = await MaterialService.updateMaterial({
          id: this.material._id,
          status: this.material.status,
          name: this.material.name,
          price: this.material.price,
          number: this.material.number
        })

        if (!response.data.error) {
          this.$root.$emit('update-material', response.data)
        }
      }

      if (!response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    setDefaultData () {
      this.newMaterial = false
      if (Object.keys(this.material).length === 0) {
        this.newMaterial = true
      }

      this.multiStatus = _.find(this.statusOptions, (status) => { return status.value === this.material.status })
    },

    setMaterialStatus () {
      this.material.status = this.multiStatus.value
    }
  }
}
</script>

<style>
.multiselect__option--selected.multiselect__option--highlight {
  background: #41b883;
}
</style>
