<template>
  <b-modal
    ref="orderView"
    id="orderView"
    title="Megrendelés adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validStatus || !validCustomer || setDoneandHasActiveWork"
    @ok="save"
    @show="getDefaultData"
  >
    <b-form>
      <b-form-group
        id="status"
        label="Megrendelés állapota"
        label-for="status"
        invalid-feedback="Megrendelés állapotát kötelező megadni!"
        :state="validStatus"
      >
        <multiselect
          id="status"
          v-model="multiStatus"
          :options="statusOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          :searchable="false"
          placeholder=""
          @input="setStatus"
        />
      </b-form-group>

      <b-form-group
        id="customer"
        label="Megrendelő adatai"
        label-for="customer"
        invalid-feedback="Megrendelőt kötelező megadni!"
        :state="validCustomer"
      >
        <div v-if="newCustomer" class="customerSelect mb-2">
          <multiselect
            v-model="selectedCustomer"
            :options="customerOptions"
            searchable
            track-by="value"
            label="text"
            :multiple="false"
            :allow-empty="false"
            :showLabels="false"
            placeholder=""
            @input="setCustomer"
          >
            <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
          </multiselect>
          <div style="padding: 0.5rem;">vagy</div>
          <b-button v-b-modal.customerView variant="primary" size="sm" class="addCustomerButton">
            <i class="fas fa-plus mr-2"></i>Megrendelő hozzáadása
          </b-button>
        </div>
        <div v-if="validCustomer">
          <div><b>Név:</b> {{ getName }}</div>
          <div><b>Cím:</b> {{ getAddress }}</div>
          <div><b>E-mail cím:</b> {{ getEmail }}</div>
          <div><b>Telefonszám:</b> {{ getPhone }}</div>
        </div>
      </b-form-group>

      <b-form-group
        v-if="order._id"
        id="works"
        label="Megrendeléshez tartozó munkák"
        label-for="works"
      >
        <b-button v-if="validCustomer" v-b-modal.workView size="sm" variant="primary" class="mb-2">
          <i class="fas fa-plus mr-2"></i>Munka hozzáadása
        </b-button>
        <works-list :works="order.works" :order="order" :style="{ display: order.works && order.works.length ? 'block' : 'none' }" />
      </b-form-group>

      <b-form-group
        id="note"
        label="Megjegyzés"
        label-for="note"
      >
        <b-form-textarea
          id="note"
          v-model="order.note"
          rows="3"
          max-rows="6"
        />
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import OrderService from '@/services/OrderService'
import CustomerService from '@/services/CustomerService'

import worksList from '@/components/views/worksListView'
import workView from '@/components/views/workView'

export default {
  props: ['order'],
  components: { worksList, workView },
  data () {
    return {
      statusOptions: [
        { text: 'Felmérés alatt', value: 'survey' },
        { text: 'Javításra vár', value: 'waitingForRepair' },
        { text: 'Javítás alatt', value: 'repair' },
        { text: 'Kész', value: 'done' }
      ],
      customerOptions: [],
      customers: [],
      selectedCustomer: null,
      newCustomer: false,
      multiStatus: { text: 'Felmérés alatt', value: 'survey' }
    }
  },
  computed: {
    getName () { return _.get(this.order, 'customer.name', '') },
    getAddress () { return _.get(this.order, 'customer.address', '') },
    getEmail () { return _.get(this.order, 'customer.email', '') },
    getPhone () { return _.get(this.order, 'customer.phone', '') },
    validCustomer () {
      return !!_.get(this.order, 'customer.name') && !!_.get(this.order, 'customer.address') &&
              !!_.get(this.order, 'customer.email') && !!_.get(this.order, 'customer.phone')
    },
    validStatus () { return this.order.status && _.includes(_.map(this.statusOptions, 'value'), this.order.status) },
    setDoneandHasActiveWork () {
      return this.order.status === 'done' && !!_.find(_.get(this.order, 'works'), (work) => { return !work.done })
    }
  },

  methods: {
    async save () {
      let response = null
      if (this.newCustomer) {
        response = await OrderService.addOrder(this.order)
      } else {
        response = await OrderService.updateOrder({
          id: this.order._id,
          status: this.order.status,
          works: _.map(this.order.works, '_id'),
          customer: this.order.customer._id,
          note: this.order.note
        })
      }

      if (!response.data.error) {
        this.$root.$emit('update-order', response.data)
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async getDefaultData () {
      this.selectedCustomer = null
      this.newCustomer = false
      if (_.isEmpty(this.order.customer)) {
        this.newCustomer = true
      }
      let response = await CustomerService.getCustomers()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.customers = response.data
        this.customerOptions = _.sortBy(_.map(response.data, (customer) => ({ text: customer.name, value: customer._id })), (customer) => { return _.toLower(customer.text) })
        this.multiStatus = _.find(this.statusOptions, (status) => { return status.value === this.order.status })
      }
    },

    setCustomer () {
      this.order.customer = _.find(this.customers, ['_id', this.selectedCustomer.value])
    },

    setStatus () {
      this.order.status = this.multiStatus.value
    }
  }
}
</script>

<style>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}

.form-group {
  margin-bottom: 1.5rem;
}

#orderView {
  padding-right: 0 !important;
}

@media (min-width: 767px) {
  .customerSelect {
    display: flex;
  }

  .addCustomerButton {
    width: -webkit-fill-available;
  }
}
</style>
