<template>
  <b-modal
    ref="teamView"
    id="teamView"
    title="Brigád adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validName"
    @ok="save"
    @show="getDefaultData"
  >
    <b-form v-if="team">
      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="A brigád nevét kötelező megadni!"
        :state="validName"
      >
        <b-form-input id="name" type="text" v-model="team.name"></b-form-input>
      </b-form-group>

      <b-form-group
        v-if="!newTeam"
        id="members"
        label="Brigádtagok"
      >
        <b-table :fields="membersFields" :items="team.members" responsive>
          <!-- A virtual column -->
          <template v-slot:cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template v-slot:cell(role)="data">
            <div v-if="data.item.role === 'admin'">Adminisztrátor</div>
            <div v-if="data.item.role === 'teamleader'">Brigádvezető</div>
            <div v-if="data.item.role === 'user'">Brigád tag</div>
            <div v-if="data.item.role === 'office'">Irodai munkatárs</div>
          </template>

          <template v-slot:cell(settings)="data">
            <div class="actionButtons">
              <b-button size="sm" variant="danger" @click="deleteUserFromTeam(data.item._id)">
                <i class="fas fa-trash"></i>
              </b-button>
            </div>
          </template>
        </b-table>
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import TeamService from '@/services/TeamService'

export default {
  props: ['team'],
  computed: {
    validName () { return !!_.get(this.team, 'name') }
  },
  data () {
    return {
      membersFields: [
        'index',
        { key: 'name', label: 'Név' },
        { key: 'role', label: 'Szerepkör' },
        { key: 'settings', label: '' }
      ],
      newTeam: false
    }
  },

  methods: {
    async save () {
      let response = null
      if (this.newTeam) {
        response = await TeamService.addTeam(this.team)
      } else {
        response = await TeamService.updateTeam({
          id: this.team._id,
          name: this.team.name,
          members: this.team.members
        })
      }

      if (!response.data.error) {
        this.$root.$emit('team-saved', response.data)

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async deleteUserFromTeam (id) {
      let response = await TeamService.deleteUserFromTeam({
        id: this.team._id,
        member: id
      })
      if (!response.data.error) {
        this.$root.$emit('team-saved', response.data)

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async getDefaultData () {
      this.newTeam = false
      if (_.isEmpty(this.team)) {
        this.newTeam = true
      }
    }
  }
}
</script>
