<template>
  <b-modal
    ref="userView"
    id="userView"
    title="Felhasználó adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="!validName || !validUsername || !validEmail || !validPassword || !validRole"
    @ok="save"
    @show="setDefaultData"
  >
    <b-form>
      <b-form-group
        id="role"
        label="Felhasználó szerepköre"
        label-for="role"
        invalid-feedback="Felhasználó szerepkörének megadása kötelező!"
        :state="validRole"
      >
        <multiselect
          id="role"
          v-model="multiRole"
          :options="roleOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
          @input="setUserRole"
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </b-form-group>

      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="A felhasználó nevét kötelező megadni!"
        :state="validName"
      >
        <b-form-input id="name" type="text" v-model="user.name"></b-form-input>
      </b-form-group>

      <b-form-group
        id="email"
        label="E-mail cím"
        label-for="email"
        invalid-feedback="A felhasználó e-mail címét kötelező megadni! Az e-mail címnek tartalmaznia kell @-ot."
        :state="validEmail"
      >
        <b-form-input id="email" type="text" v-model="user.email"></b-form-input>
      </b-form-group>

      <b-form-group
        id="username"
        label="Felhasználónév"
        label-for="username"
        invalid-feedback="A felhasználónevet kötelező megadni!"
        :state="validUsername"
      >
        <b-form-input id="username" type="text" v-model="user.username"></b-form-input>
      </b-form-group>

      <b-form-group
        v-if="!user._id"
        id="password"
        label="Jelszó"
        label-for="password"
        invalid-feedback="A felhasználó jelszavát kötelező megadni!"
        :state="validPassword"
      >
        <b-form-input id="password" type="password" v-model="user.password"></b-form-input>
      </b-form-group>

      <b-button v-else variant="primary" @click="modifyPassword = !modifyPassword" class="mb-2">Jelszó módosítása</b-button>
      <div v-if="modifyPassword">
        <b-form-group
          id="modifyPassword"
          label="Új jelszó"
          label-for="modifyPasswordInput"
          invalid-feedback="A felhasználó új jelszavát kötelező megadni!"
          :state="validPassword"
        >
          <b-form-input id="modifyPasswordInput" type="password" v-model="newPassword"></b-form-input>
        </b-form-group>
        <b-button :disabled="!validNewPassword" variant="success" class="buttonRight" @click="savePassword">Jelszó mentése</b-button>
      </div>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'

import UserService from '@/services/UserService'

export default {
  props: ['user'],
  computed: {
    validRole () { return !!_.get(this.user, 'role') || !!this.multiRole },
    validName () { return !!_.get(this.user, 'name') },
    validEmail () { return !!_.get(this.user, 'email') && _.includes(this.user.email, '@') },
    validUsername () { return !!_.get(this.user, 'username') },
    validPassword () { return !!_.get(this.user, 'password') },
    validNewPassword () { return !!this.newPassword }
  },
  data () {
    return {
      roleOptions: [
        { text: 'Adminisztrátor', value: 'admin' },
        { text: 'Iroda munkatárs', value: 'office' },
        { text: 'Brigádvezető', value: 'teamleader' },
        { text: 'Brigád tag', value: 'user' }
      ],
      multiRole: {},
      new: false,
      modifyPassword: false,
      newPassword: ''
    }
  },

  methods: {
    async save () {
      let response
      if (this.new) {
        response = await UserService.addUser(this.user)
      } else {
        response = await UserService.updateUser({
          id: this.user._id,
          role: this.user.role,
          name: this.user.name,
          email: this.user.email,
          username: this.user.username,
          password: this.user.password
        })
      }

      if (!response.data.error) {
        this.$root.$emit('user-saved', response.data)
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async savePassword () {
      let response = await UserService.restorePassword({
        id: this.user._id,
        admin: _.get(this.$store.state, 'user._id'),
        password: this.newPassword
      })
      if (!response.data.error) {
        this.newPassword = ''
        this.modifyPassword = !this.modifyPassword
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    setDefaultData () {
      this.new = _.isEmpty(this.user)
      this.multiRole = _.find(this.roleOptions, (role) => { return role.value === this.user.role })
    },

    setUserRole () {
      this.user.role = this.multiRole.value
    }
  }
}
</script>

<style>
.multiselect__option--selected.multiselect__option--highlight {
  background: #41b883;
}

.buttonRight {
  float: right;
}
</style>
