<template>
  <b-modal
    ref="worksView"
    id="worksView"
    title="Megrendeléshez tartozó munkák"
    centered
    ok-variant="success"
    ok-only
    cancel-title="Mégse"
  >
    <works-list v-if="works.length" :works="works" :order="order" />
    <div v-else>Nem található munka!</div>
  </b-modal>
</template>

<script>
import worksList from '@/components/views/worksListView'

export default {
  props: ['works', 'order'],
  components: { worksList }
}
</script>
