<template>
  <b-modal
    ref="workView"
    id="workView"
    title="Munka adatai"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    :ok-disabled="workIsDone || (!validDate || !validDuration || !validCost || !validWorkType || !validProblem || !validMaterials)"
    @ok="save"
    @hide="hide"
  >
    <div v-if="isAdmin && workIsDone && order.status !== 'done'" class="text-right">
      <b-button variant="primary" size="sm" @click="restoreWork">Munka visszaállítása</b-button>
    </div>
    <b-form>
      <b-form-group
        id="date"
        label="Dátum"
        label-for="date"
        invalid-feedback="Dátum megadása kötelező!"
        :state="validDate"
      >
        <datetime v-model="work.date" type="datetime" input-class="form-control"></datetime>
      </b-form-group>

      <b-form-group
        id="duration"
        label="Hány órás munka?"
        label-for="duration"
        invalid-feedback="Munka hosszának megadása kötelező!"
        :state="validDuration"
      >
        <b-form-input id="duration" type="number" step="0.5" v-model="work.duration"></b-form-input>
      </b-form-group>

      <b-form-group
        v-if="!workIsDone"
        id="type"
        label="Munka típusa"
        label-for="type"
        invalid-feedback="Munka típusának megadása kötelező!"
        :state="validWorkType"
      >
        <multiselect
          id="type"
          v-model="multiType"
          :options="typeOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          :searchable="false"
          placeholder=""
          @input="setWorkType"
        />
      </b-form-group>

      <b-form-group
        id="customer"
        label="Megrendelő adatai"
        label-for="customer"
      >
        <div><b>Név:</b> {{ getName }}</div>
        <div><b>Cím:</b> {{ getAddress }}</div>
        <div><b>E-mail cím:</b> {{ getEmail }}</div>
        <div><b>Telefonszám:</b> {{ getPhone }}</div>
      </b-form-group>

      <b-form-group
        id="team"
        label="Brigád"
        label-for="team"
      >
        <multiselect
          id="type"
          v-model="multiTeam"
          :options="teamOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          :searchable="false"
          placeholder=""
          @input="setWorkTeam"
        />
      </b-form-group>

      <b-form-group
        id="cost"
        label="Költség"
        label-for="cost"
        invalid-feedback="Munka költségének megadása kötelező!"
        :state="validCost"
      >
        <b-form-input id="cost" type="number" v-model="work.cost"></b-form-input>
      </b-form-group>

      <b-form-group
        id="problem"
        label="Probléma"
        label-for="problem"
        invalid-feedback="Probléma megadása kötelező!"
        :state="validProblem"
      >
        <b-form-textarea
          id="problem"
          v-model="work.problem"
          placeholder="Írd ide a problémát!"
          rows="3"
          max-rows="6"
        />
      </b-form-group>

      <b-form-group
        id="materials"
        label="Szükséges anyagok"
        invalid-feedback="Anyag nevét és mennyiségét mindenhol kötelező megadni!"
        :state="validMaterials"
      >
        <b-button size="sm" variant="primary" @click="addNewMaterial" class="mb-2">
          <i class="fas fa-plus mr-2"></i>Új anyag hozzáadása
        </b-button>
        <b-table v-if="work.materials && work.materials.length" :fields="materialFields" :items="work.materials" responsive>
          <!-- A virtual column -->
          <template v-slot:cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template v-slot:cell(name)="data">
            <multiselect
              id="matName"
              v-model="data.item.material"
              :options="materialOptions"
              track-by="_id"
              label="name"
              :multiple="false"
              :allow-empty="false"
              :showLabels="false"
              placeholder=""
            >
              <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
            </multiselect>
          </template>

          <template v-slot:cell(number)="data">
            <b-form-input id="matNum" type="number" v-model="data.item.number"></b-form-input>
          </template>

          <template v-slot:cell(settings)="data">
            <div class="actionButtons">
              <b-button size="sm" variant="danger" @click="deleteMaterial(data.index)">
                <i class="fas fa-trash"></i>
              </b-button>
            </div>
          </template>
        </b-table>
      </b-form-group>

      <b-form-group
        id="note"
        label="Megjegyzés"
        label-for="note"
      >
        <b-form-textarea
          id="note"
          v-model="work.note"
          rows="3"
          max-rows="6"
        />
      </b-form-group>
    </b-form>
  </b-modal>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import TeamService from '@/services/TeamService'
import MaterialService from '@/services/MaterialService'
import WorkService from '@/services/WorkService'
import OrderService from '@/services/OrderService'

export default {
  props: ['work', 'order'],
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    getName () { return _.get(this.work, 'customer.name', '') || _.get(this.order, 'customer.name') },
    getAddress () { return _.get(this.work, 'customer.address', '') || _.get(this.order, 'customer.address') },
    getEmail () { return _.get(this.work, 'customer.email', '') || _.get(this.order, 'customer.email') },
    getPhone () { return _.get(this.work, 'customer.phone', '') || _.get(this.order, 'customer.phone') },
    workIsDone () { return _.get(this.work, 'done') || this.doneSaved },
    validDate () { return !!_.get(this.work, 'date') },
    validDuration () { return !!_.get(this.work, 'duration') },
    validCost () { return !!_.get(this.work, 'cost') },
    validProblem () { return !!_.get(this.work, 'problem') },
    // eslint-disable-next-line
    validWorkType () { return (!!_.get(this.work, 'type') && _.includes(_.map(this.typeOptions, 'value'), this.work.type)) ||
      !_.isEmpty(this.multiType)
    },
    validMaterials () {
      return _.isEmpty(_.get(this.work, 'materials')) ||
            (_.every(_.get(this.work, 'materials'), 'number') && _.every(_.get(this.work, 'materials'), 'material._id'))
    }
  },
  data () {
    return {
      typeOptions: [
        { text: 'Felmérés', value: 'survey' },
        { text: 'Javítás', value: 'repair' }
        // { text: 'Kész', value: 'done' }
      ],
      materialOptions: [],
      teamOptions: [],
      materialFields: [
        'index',
        { key: 'name', label: 'Név' },
        { key: 'number', label: 'Darabszám' },
        { key: 'settings', label: '' }
      ],
      successMessage: '',
      errorMessage: '',
      multiType: {},
      multiTeam: {}
    }
  },

  methods: {
    async getMaterialOptions () {
      let response = await MaterialService.getMaterials()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.materialOptions = _.sortBy(_.map(response.data, (material) => ({ name: material.name, _id: material._id })), ['name'])
      }
    },

    async getTeamOptions () {
      let response = await TeamService.getTeams()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.teamOptions = _.map(response.data, (team) => ({ text: team.name, value: team._id }))
      }
    },

    async save () {
      let response = null
      if (!_.get(this.work, '_id')) {
        this.work.customer = this.order.customer
        this.work.date = moment(this.work.date).format()
        this.work.endDate = moment(this.work.date).add(this.work.duration, 'hours').format()

        response = await WorkService.addWork(this.work)
        if (!response.data.error) {
          this.addWorkToOrder(response.data.work._id)
        }
      } else {
        response = await WorkService.updateWork({
          id: this.work._id,
          date: moment(this.work.date).format(),
          endDate: moment(this.work.date).add(this.work.duration, 'hours').format(),
          duration: this.work.duration,
          type: this.work.type,
          cost: this.work.cost,
          team: _.get(this.work.team, '_id'),
          customer: _.get(this.work.customer, '_id'),
          materials: this.work.materials,
          problem: this.work.problem,
          note: this.work.note
        })
        if (!response.data.error) {
          this.$root.$emit('work-saved', response.data)
        }
      }
      if (!response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async addWorkToOrder (workId) {
      let response = await OrderService.addWorkToOrder({
        id: this.order._id, // order id
        work: workId
      })
      if (!response.data.error) {
        this.$root.$emit('work-saved', response.data)

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async restoreWork () {
      let response = await WorkService.updateWork({
        id: this.work._id,
        done: false
      })
      if (!response.data.error) {
        this.$root.$emit('work-saved', response.data)
        this.work.done = false

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    hide () {
      this.$root.$emit('reset', true)
    },

    deleteMaterial (index) {
      this.work.materials.splice(index, 1)
    },

    addNewMaterial () {
      if (!this.work.materials) {
        this.work.materials = []
      }
      this.work.materials.push({
        material: { _id: null },
        number: null
      })
    },

    setWorkType () {
      this.work.type = this.multiType.value
    },

    setWorkTeam () {
      this.work.team._id = this.multiTeam.value
    }
  },

  mounted () {
    this.getMaterialOptions()
    this.getTeamOptions()
  },

  watch: {
    work: function (value) {
      if (!_.isEmpty(value)) {
        this.multiType = _.find(this.typeOptions, (type) => { return type.value === this.work.type })
        this.multiTeam = _.find(this.teamOptions, (team) => { return team.value === this.work.team._id })
        if (!this.multiTeam) {
          this.multiTeam = { value: null, text: this.work.team.name }
        }
      }
    }
  }
}
</script>

<style>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}
</style>

<style scoped>
.table-responsive {
  overflow: visible;
}

.buttonRight {
  float: right;
}
</style>
