<template>
  <div>
    <b-pagination
      v-model="currentPage"
      :total-rows="works.length"
      :per-page="perPage"
      aria-controls="workTable"
    />
    <b-table
      id="workTable"
      small
      :fields="workTableFields"
      :items="works"
      :per-page="perPage"
      :current-page="currentPage"
      responsive
      fixed
    >
      <template v-slot:table-colgroup="scope">
        <col
          v-for="field in scope.fields"
          :key="field.key"
          :style="{ width: field.key === 'problem' ? '40%' : 'unset' && field.key === 'warn' ? '5%' : 'unset' }"
        >
      </template>

      <template v-slot:cell(date)="data">
        {{ getDate(data.item.date) }}
      </template>

      <template v-slot:cell(type)="data">
        <div v-if="data.item.type === 'survey'">Felmérés</div>
        <div v-if="data.item.type === 'repair'">Javítás</div>
      </template>

      <template v-slot:cell(team)="data">
        <div v-if="data.item.team">
          {{ data.item.team.name }}
        </div>
        <div v-else style="color:red;">
          Nincs brigád!
        </div>
      </template>

      <template v-slot:cell(problem)="data">
        {{ data.item.problem }}
      </template>

      <template v-slot:cell(settings)="data">
        <div class="actionButtons">
          <b-button
            v-if="!workIsDone(data.item)"
            :disabled="hasEnoughMaterial(data.item)"
            v-b-modal.workConfirm size="sm"
            variant="success"
            @click="showConfirmModalDone(data.item)"
          >
            <i class="fas fa-check"></i>
          </b-button>
          <b-button v-b-modal.workView size="sm" variant="primary" @click="showWork(data.item._id)">
            <i class="fas fa-pencil-alt"></i>
          </b-button>
          <b-button v-b-modal.workConfirm v-if="isAdmin && orderExists" size="sm" variant="danger" @click="showConfirmModalDelete(data.item._id)">
            <i class="fas fa-trash"></i>
          </b-button>
        </div>
      </template>

    </b-table>

    <work-view :work="actualWork" :order="order" />

    <!--  Confirm modal for delete and work-done -->
    <confirm-modal modalId="workConfirm" :title="modalTitle" :message="modalMessage" :okMethod="modalOk" />
  </div>
  <!-- <div v-else>
    Nem található munka!
  </div> -->
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import WorkService from '@/services/WorkService'
import OrderService from '@/services/OrderService'
import MaterialService from '@/services/MaterialService'

import workView from '@/components/views/workView'
import ConfirmModal from '@/components/confirmModal'

export default {
  props: ['works', 'order'],
  components: { workView, ConfirmModal },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    orderExists () { return Object.keys(this.order).length !== 0 },
    isMobile () { return window.innerWidth < 767 },
    workTableFields () {
      let fields = []
      if (this.orderExists && !this.isMobile) {
        fields = this.workFieldsOrder
      } else if (this.isMobile) {
        fields = this.workFieldsMobile
      } else {
        fields = this.workFields
      }
      return fields
    }
  },
  data () {
    return {
      materials: [],
      workFieldsMobile: [
        { key: 'date', label: 'Dátum' },
        { key: 'team', label: 'Brigád' },
        { key: 'settings', label: '' }
      ],
      workFields: [
        { key: 'date', label: 'Dátum' },
        { key: 'team', label: 'Brigád' },
        { key: 'problem', label: 'Probléma' },
        { key: 'settings', label: '' }
      ],
      workFieldsOrder: [
        { key: 'date', label: 'Dátum' },
        { key: 'type', label: 'Típus' },
        { key: 'team', label: 'Brigád' },
        { key: 'problem', label: 'Probléma' },
        { key: 'settings', label: '' }
      ],
      actualWork: { team: {}, customer: this.order.customer, materials: [] },
      modalTitle: '',
      modalMessage: '',
      modalOk: () => {},
      perPage: 10,
      currentPage: 1
    }
  },

  methods: {
    async getMaterials () {
      const response = await MaterialService.getMaterials()
      if (!response.data.error) {
        this.materials = response.data
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async showWork (id) {
      const response = await WorkService.getWork({
        id: id
      })
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        if (!response.data.team) {
          response.data.team = {}
        }
        this.actualWork = response.data
      }
    },

    async deleteWork (id) {
      let response = await OrderService.deleteWorkFromOrder({
        id: this.order._id,
        work: id
      })

      if (!response.data.error) {
        let response = await WorkService.deleteWork(id)
        if (!response.data.error) {
          this.$root.$emit('work-saved', response.data)

          this.$bvToast.toast(response.data.message, {
            title: 'Hurrá!',
            variant: 'success',
            solid: true,
            autoHideDelay: 5000
          })
        } else {
          this.$bvToast.toast(response.data.message, {
            title: 'Oh-oh!',
            variant: 'danger',
            solid: true,
            autoHideDelay: 5000
          })
        }
      }
    },

    async doneWork (work) {
      let response = await WorkService.updateWork({
        id: work._id,
        type: work.type,
        done: true,
        date: work.date,
        customer: work.customer._id,
        cost: work.cost,
        team: (work.team && Object.keys(work.team).length !== 0) ? work.team._id : null,
        problem: work.problem,
        materials: work.materials
      })

      if (!response.data.error) {
        this.$root.$emit('work-saved', response.data)

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    getDate (date) { return moment(date).locale('hu').format('LLL') },

    workIsDone (work) {
      return work.done
    },

    hasEnoughMaterial (work) {
      let notEnough = false
      _.forEach(work.materials, (wMaterial) => {
        let material = _.find(this.materials, (mat) => { return mat._id === wMaterial.material })
        if (material && material.number < wMaterial.number) {
          notEnough = true
        }
      })
      return notEnough
    },

    showConfirmModalDelete (id) {
      this.modalTitle = 'Biztosan törlöd?'
      this.modalMessage = 'Vigyázz! A törlés végleges művelet!'
      this.modalOk = () => this.deleteWork(id)
    },

    showConfirmModalDone (work) {
      this.modalTitle = 'Biztosan kész?'
      this.modalMessage = 'Vigyázz! Ha egy munkát késznek jelölsz meg, azt már később nem állíthatod vissza!'
      this.modalOk = () => this.doneWork(work)
    },

    resetData () {
      this.actualWork = { team: {}, materials: [] }
    }
  },

  mounted () {
    this.$root.$on('reset', this.resetData)
    this.getMaterials()
  },

  beforeDestroy () {
    this.$root.$off('reset', this.resetData)
  }
}
</script>
