<template>
  <div id="app">
    <page-header />
    <sidebar-menu id="menu" :style="sidebarMenuStyle"/>
    <div id="main">
      <router-view />
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/Header.vue'
import SidebarMenu from '@/components/SidebarMenu.vue'

export default {
  name: 'App',
  components: { PageHeader, SidebarMenu },
  data () {
    return {
      sidebarMenuStyle: {}
    }
  },

  methods: {
    setSidebarMenuHeight () {
      const navHeight = document.getElementsByClassName('navbar')[0].clientHeight
      this.sidebarMenuStyle = {
        '--nav-height': navHeight + 'px'
      }
    }
  },

  mounted () {
    this.setSidebarMenuHeight()
    this.$root.$on('change-navheight', this.setSidebarMenuHeight)
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

#menu {
  top: var(--nav-height);
}

#main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 25px;
  }
}

.plusButton {
  text-align: right;
}

.actionButtons {
  float: right;
  text-align: right;
}

.btn-primary {
  background-color: #071169 !important;
  border-color: #122096 !important;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
  background-color: #122096 !important;
  border-color: #071169 !important;
}

.primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #071169 !important;
  border-color: #122096 !important;
}

.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight {
  background-color: #071169 !important;
  background: #071169 !important;
}

.page-item.active .page-link {
  background-color: #071169 !important;
  border-color: #122096 !important;
}

.page-link {
  color: #071169;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1,
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  background-color: unset;
}

.fc-event, .fc-event-dot {
  background-color: #071169;
  border-color: #122096;
}

.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background-color: #071169;
}

/* .vsm--link vsm--link_level-1 vsm--link_hover {
  background-color: #071169;
} */

.nav-item a {
  color: #071169;
}
</style>
