<template>
  <b-container fluid="md">
    <h1>Naptár</h1>
    <div v-if="works.length">
      <div v-if="isAdmin" style="display:flex;" class="mb-4">
        <b-button variant="primary" @click="setEvents()" class="mr-2">Céges naptár</b-button>
        <multiselect
          id="calendarTeams"
          v-model="team"
          :options="teams"
          track-by="_id"
          label="name"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
          @input="setEvents(team)"
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </div>
      <full-calendar
        :events="events"
        :config="config"
        :default-view="defaultView"
        @event-selected="showWork"
        @event-created="() => {}"
      />
      <work-view :work="actualWork" :order="{}" />
    </div>
    <div v-else-if="!loading" class="text-center">Nem található egyetlen munka sem az adatbázisban!</div>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'
import 'fullcalendar/dist/locale/hu'

import TeamService from '@/services/TeamService'
import WorkService from '@/services/WorkService'
import WorkView from '@/components/views/workView'

export default {
  components: { WorkView },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    userTeams () { return _.get(this.$store.state, 'userTeams') },
    defaultView () { return window.innerWidth < 767 ? 'basicDay' : 'agendaWeek' }
  },
  data () {
    return {
      events: [],
      config: {
        locale: 'hu'
      },
      works: [],
      actualWork: { team: {}, customer: {}, materials: [] },
      loading: true,
      team: null,
      teams: [],
      isMobile: false
    }
  },

  methods: {
    async getWorks () {
      this.loading = true
      let response = await WorkService.getWorks()
      if (!response.data.error) {
        if (!this.isAdmin) {
          this.works = _.filter(response.data, (work) => { return (_.includes(this.userTeams, _.get(work.team, '_id'))) })
        } else {
          this.works = response.data
        }
        this.setEvents()
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
      this.loading = false
    },

    async getTeams () {
      let response = await TeamService.getTeams()
      if (!response.data.error) {
        this.teams = response.data
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    showWork (event) {
      this.$bvModal.show('workView')
      this.actualWork = _.find(this.works, (work) => { return work._id === event._id })
    },

    setEvents (team) {
      let works = this.works
      if (team) {
        works = _.filter(works, (work) => { return work.team && work.team._id === team._id })
      } else {
        this.team = null
      }
      this.events = _.map(works, (work) => ({
        _id: work._id,
        title: work.customer.name,
        start: work.date,
        end: work.endDate,
        allDay: false
      }))
    }
  },

  mounted () {
    this.getWorks()
    this.getTeams()
  }
}
</script>

<style>
@media screen and (max-width: 767px) {
  .fc-scroller {
    height: 100% !important;
    overflow: unset !important;
  }
}
</style>

<style scoped>
@media screen and (max-width: 767px) {
  .multiselect {
    width: 100% !important;
  }
}

.multiselect {
  width: 30%;
}
</style>
