<template>
  <b-container fluid="md">
    <div class="text-center" style="font-size: 25px;">{{ welcomeMessage }}</div>
    <div v-if="works.length">
      <div style="font-size: 25px;">Napi munkák</div>
      <div>Felmérések száma: {{ surveys }} Javítás száma: {{ repairs }}</div>
      <br />
      <works-list :works="works" :order="{}" />
    </div>
    <div v-else-if="!loading" class="text-center">Nem található munka a mai napra!</div>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'

import WorkService from '@/services/WorkService'

import WorksList from '@/components/views/worksListView'

export default {
  name: 'Index',
  components: { WorksList },
  computed: {
    welcomeMessage () { return `Szia ${_.get(this.$store.state, 'user.name')}, legyen szép napod! ` },
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    userTeams () { return _.get(this.$store.state, 'userTeams') }
  },
  data () {
    return {
      works: [],
      actualOrder: {},
      loading: true,
      surveys: 0,
      repairs: 0
    }
  },

  methods: {
    async getWorks () {
      this.loading = true
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth()
      const day = date.getDate()
      let response = await WorkService.getWorks()
      if (!response.data.error) {
        this.works = _.filter(response.data, (work) => {
          const workDate = new Date(work.date)
          return workDate.getFullYear() === year &&
                workDate.getMonth() === month &&
                workDate.getDate() === day
        })
        if (!this.isAdmin) {
          this.works = _.filter(this.works, (work) => { return (_.includes(this.userTeams, _.get(work.team, '_id'))) })
        }
        this.works.sort((a, b) => { return new Date(a.date) - new Date(b.date) })

        this.surveys = _.sumBy(this.works, (work) => { return work.type === 'survey' ? 1 : 0 })
        this.repairs = _.sumBy(this.works, (work) => { return work.type === 'repair' ? 1 : 0 })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
      this.loading = false
    }
  },

  mounted () {
    this.$root.$on('work-saved', this.getWorks)
    this.getWorks()
  },

  beforeDestroy () {
    this.$root.$off('work-saved', this.getWorks)
  }
}
</script>

<style>
#index {
  padding: 2rem;
}
</style>
