<template>
  <b-container fluid="md">
    <h2 class="text-center">Üdv!</h2>
    <b-form @submit.prevent="login">
      <b-form-group id="email" label="E-mail cím:" label-for="emailInput"
      >
        <b-form-input
          id="emailInput"
          v-model="email"
          type="email"
          required
          placeholder="Írd be az e-mail címed..."
        ></b-form-input>
      </b-form-group>

      <b-form-group id="password" label="Jelszó:" label-for="passwordInput">
        <b-form-input
          id="passwordInput"
          v-model="password"
          type="password"
          required
          placeholder="Írd be a jelszavad..."
        ></b-form-input>
      </b-form-group>

      <div style="float: right;">
        <b-button type="submit" variant="primary">Bejelentkezés</b-button>
      </div>
    </b-form>
  </b-container>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },

  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        if (response.data.user) {
          this.$store.dispatch('setToken', response.data.token)
          this.$store.dispatch('setUser', response.data.user)
          this.$store.dispatch('setUserTeams', response.data.userTeams)
          this.$router.push('/')
        } else {
          this.$bvToast.toast(response.data.message, {
            title: 'Oh-oh!',
            variant: 'danger',
            solid: true,
            autoHideDelay: 5000
          })
        }
      } catch (error) {
        this.$bvToast.toast(error.response.data.error, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    }
  }
}
</script>
