<template>
  <b-container fluid="md">
    <h1>Anyagnyilvántartó</h1>
    <div class="mt-2 mb-2 plusButton">
      <b-button v-b-modal.materialView variant="primary" @click="addNewMaterial()">
        <i class="fas fa-plus mr-2"></i>Új anyag hozzáadása
      </b-button>
    </div>
    <search :searchTypes="searchTypes" :dataArray="searchMaterials" type="material" class="mb-4" />
    <div v-if="materials.length">
      <b-pagination
        v-model="currentPage"
        :total-rows="materials.length"
        :per-page="perPage"
        aria-controls="materialTable"
      />
      <b-table
        :fields="fields"
        :items="materials"
        :per-page="perPage"
        :current-page="currentPage"
        responsive
      >
        <!-- A virtual column -->
        <template v-slot:cell(index)="data">
          {{ data.index + 1 + perPage * (currentPage - 1) }}
        </template>

        <template v-slot:cell(status)="data">
          <b-badge v-if="data.item.status === 'order'" variant="warning">Rendelés alatt</b-badge>
          <b-badge v-if="data.item.status === 'few'" variant="danger">Kevés</b-badge>
          <b-badge v-if="data.item.status === 'inStock'" variant="success">Készleten</b-badge>
        </template>

        <template v-slot:cell(price)="data">
          <div v-if="data.item.price">{{ `${data.item.price} Ft / darab` }}</div>
        </template>

        <template v-slot:cell(settings)="data">
          <div class="actionButtons">
            <b-button v-b-modal.materialView size="sm" variant="primary" @click="editMaterial(data.item)">
              <i class="fas fa-pencil-alt"></i>
            </b-button>
            <b-button v-b-modal.materialConfirm size="sm" variant="danger" @click="showConfirmModal(data.item._id)">
              <i class="fas fa-trash"></i>
            </b-button>
          </div>
        </template>
      </b-table>

      <material-view :material="actualMaterial" :usedMaterials="actualUsedMaterials" />

      <!--  Confirm modal for delete -->
      <confirm-modal modalId="materialConfirm" :title="modalTitle" :message="modalMessage" :okMethod="modalOk" />
    </div>
    <div v-else-if="!loading" class="text-center">Nem található anyag a nyilvántartásban!</div>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'

import MaterialService from '@/services/MaterialService'
import WorkService from '@/services/WorkService'

import materialView from '@/components/views/materialView'
import ConfirmModal from '@/components/confirmModal'
import search from '@/components/search'

export default {
  name: 'materials',
  components: { materialView, ConfirmModal, search },
  data () {
    return {
      materials: [],
      allUsedMaterials: [],
      fields: [
        'index',
        { key: 'status', label: 'Állapot' },
        { key: 'name', label: 'Név' },
        { key: 'price', label: 'Ár' },
        { key: 'number', label: 'Darab' },
        { key: 'settings', label: '' }
      ],
      actualMaterial: {},
      actualUsedMaterials: [],
      modalTitle: '',
      modalMessage: '',
      modalOk: () => {},
      loading: true,
      searchTypes: [
        { type: { text: 'Állapot', value: 'status' },
          options: [
            { text: 'Készleten', value: 'inStock' },
            { text: 'Kevés', value: 'few' },
            { text: 'Rendelés alatt', value: 'order' }
          ]
        },
        { type: { text: 'Név', value: 'name' }, options: false },
        { type: { text: 'Ár', value: 'price' }, options: false },
        { type: { text: 'Darab', value: 'number' }, options: false }
      ],
      searchMaterials: [],
      perPage: 10,
      currentPage: 1
    }
  },

  methods: {
    async getMaterials () {
      this.loading = true
      let response = await MaterialService.getMaterials()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.materials = _.sortBy(response.data, (material) => { return _.toLower(material.name) })
        this.searchMaterials = response.data
      }
      this.loading = false
    },

    async checkMaterialsInWorks () {
      let response = await WorkService.getWorks()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        _.forEach(response.data, (work) => {
          if (!work.done) {
            this.allUsedMaterials = _.concat(this.allUsedMaterials,
              _.map(work.materials, (material) => ({ id: material.material._id, number: material.number }))
            )
          }
        })
      }
    },

    async deleteMaterial (id) {
      let response = await MaterialService.deleteMaterial(id)
      if (!response.data.error) {
        this.getMaterials()
        this.checkMaterialsInWorks()

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    editMaterial (material) {
      this.actualMaterial = _.cloneDeep(material)
      this.actualUsedMaterials = _.filter(this.allUsedMaterials, (mat) => {
        return mat.id === material._id
      })
    },

    showConfirmModal (id) {
      this.modalTitle = 'Biztosan törlöd?'
      this.modalMessage = 'Vigyázz! A törlés végleges művelet!'
      this.modalOk = () => this.deleteMaterial(id)
    },

    addNewMaterial () {
      this.actualMaterial = {}
    },

    setSearchResult (payload) {
      this.materials = _.sortBy(payload, (material) => { return _.toLower(material.name) })
    }
  },

  mounted () {
    this.$root.$on('update-material', this.getMaterials)
    this.$root.$on('search', (payload) => this.setSearchResult(payload))
    this.getMaterials()
    this.checkMaterialsInWorks()
  },

  beforeDestroy () {
    this.$root.$off('update-material', this.getMaterials)
    this.$root.$off('search', this.setSearchResult)
  }
}
</script>
