<template>
  <b-container fluid="md">
    <h1>Üzenőfal</h1>
    <b-form @submit.prevent="addNewNote">
      <b-form-group id="title" label="Cím" label-for="titleInput">
        <b-form-input
          id="titleInput"
          v-model="title"
          placeholder="Írj címet a bejegyzéshez..."
        />
      </b-form-group>

      <b-form-group id="text" label="Szöveg" label-for="textInput">
        <b-form-textarea
          id="textarea"
          v-model="text"
          placeholder="Írj valamit..."
          rows="3"
          max-rows="6"
        />
      </b-form-group>

      <div class="submitButton">
        <b-button :disabled="!text" variant="success" type="submit">Közzétesz</b-button>
      </div>
    </b-form>

    <div class="notes" v-if="notes.length">
      <h2>Bejegyzések</h2>
      <!-- <b-pagination
        v-model="currentPage"
        :total-rows="notes.length"
        :per-page="perPage"
      /> -->
      <note-card
        v-for="(note) in notes.slice((currentPage - 1) * perPage, (currentPage - 1) * perPage + perPage)"
        :key="note._id"
        :id="note._id"
        :name="note.user.name"
        :title="note.title"
        :text="note.text"
        :date="note.date"
      />
      <br />
      <b-pagination
        v-model="currentPage"
        :total-rows="notes.length"
        :per-page="perPage"
        align="center"
      />
    </div>

    <div v-else-if="!loading" class="text-center">Nem található bejegyzés!</div>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import NoteService from '@/services/NoteService'

import noteCard from '@/components/noteCard'

export default {
  components: { noteCard },
  data () {
    return {
      notes: [],
      text: '',
      title: '',
      currentPage: 1,
      perPage: 3,
      loading: true
    }
  },

  methods: {
    async getNotes () {
      let response = await NoteService.getNotes()
      if (!response.data.error) {
        this.notes = _.reverse(_.sortBy(response.data, ['date']))
        this.loading = false
      }
    },

    async addNewNote () {
      let response = await NoteService.addNote({
        user: _.get(this.$store.state, 'user._id'),
        title: this.title,
        text: this.text,
        date: moment().format()
      })
      if (!response.data.error) {
        this.getNotes()
        this.$forceUpdate()
        this.clearForm()
      }
    },

    clearForm () {
      this.title = ''
      this.text = ''
    }
  },

  mounted () {
    this.getNotes()
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 3rem;
}

.card {
  margin-top: 1rem;
}

.submitButton {
  text-align: right;
}

.notes {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>
