<template>
  <b-container fluid="md">
    <h1>Megrendelések</h1>
    <div class="mt-2 mb-2 plusButton">
      <b-button v-b-modal.orderView variant="primary" @click="addNewOrder()">
        <i class="fas fa-plus mr-2"></i>Új megrendelés
      </b-button>
    </div>

    <div>
      <order-view :order="actualOrder" />
      <works-view :works="actualWorks" :order="actualOrder" />
      <customer-view :customer="actualCustomer" />

      <!--  Confirm modal for delete and work-done -->
      <confirm-modal modalId="orderConfirm" :title="modalTitle" :message="modalMessage" :okMethod="modalOk" />
    </div>
    <b-tabs v-if="!loading" content-class="mt-3">
      <b-tab title="Aktív megrendelések" active>
        <search :searchTypes="searchTypes" :dataArray="searchOrders" type="orders" class="mb-4" />
        <div v-if="orders.length">
          <b-pagination
            v-model="currentPage"
            :total-rows="orders.length"
            :per-page="perPage"
            aria-controls="orderTable"
          />

          <b-table
            id="orderTable"
            :per-page="perPage"
            :current-page="currentPage"
            :fields="fields"
            :items="orders"
            responsive
          >
            <!-- A virtual column -->
            <template v-slot:cell(index)="data">
              {{ data.index + 1 + perPage * (currentPage - 1) }}
            </template>

            <template v-slot:cell(status)="data">
              <b-badge v-if="data.item.status === 'survey'" variant="warning">Felmérés alatt</b-badge>
              <b-badge v-if="data.item.status === 'waitingForRepair'" variant="secondary">Javításra vár</b-badge>
              <b-badge v-if="data.item.status === 'repair'" variant="warning">Javítás alatt</b-badge>
              <!-- <b-badge v-if="data.item.status === 'done'" variant="success">Kész</b-badge> -->
            </template>

            <template v-slot:cell(customer)="data">
              {{ data.item.customer.name }}
              <b-button v-b-modal.customerView size="sm" class="ml-2 tableButton" @click="editCustomer(data.item.customer)">
                <i class="fas fa-user-edit"></i>
              </b-button>
            </template>

            <template v-slot:cell(works)="data">
              <b-button v-b-modal.worksView size="sm" variant="primary" @click="showWorks(data.item.works, data.item)">
                <i style="vertical-align: -webkit-baseline-middle;" class="fas fa-ellipsis-h"></i>
              </b-button>
            </template>

            <template v-slot:cell(settings)="data">
              <div class="actionButtons">
                <b-button v-b-modal.orderView size="sm" variant="primary" @click="editOrder(data.item)">
                  <i class="fas fa-pencil-alt"></i>
                </b-button>
                <b-button v-b-modal.orderConfirm v-if="isAdmin" size="sm" variant="danger" @click="showConfirmModal(data.item._id)">
                  <i class="fas fa-trash"></i>
                </b-button>
              </div>
            </template>
          </b-table>
        </div>
        <div v-else class="text-center">Nem található megrendelés.</div>
      </b-tab>
      <b-tab title="Kész megrendelések">
        <search :searchTypes="searchDoneTypes" :dataArray="searchDoneOrders" type="doneOrders" class="mb-4" />
        <div v-if="doneOrders.length">
          <b-pagination
            v-model="currentDonePage"
            :total-rows="doneOrders.length"
            :per-page="perPage"
            aria-controls="doneOrderTable"
          />

          <b-table
            id="doneOrderTable"
            :per-page="perPage"
            :current-page="currentDonePage"
            :fields="fields"
            :items="doneOrders"
            responsive
          >
            <!-- A virtual column -->
            <template v-slot:cell(index)="data">
              {{ data.index + 1 + perPage * (currentDonePage - 1) }}
            </template>

            <template v-slot:cell(status)>
              <b-badge variant="success">Kész</b-badge>
            </template>

            <template v-slot:cell(customer)="data">
              {{ data.item.customer.name }}
              <!-- <b-button v-b-modal.customerView size="sm" class="ml-2 tableButton" @click="editCustomer(data.item.customer)">
                <i class="fas fa-user-edit"></i>
              </b-button> -->
            </template>

            <template v-slot:cell(works)="data">
              <b-button v-b-modal.worksView size="sm" variant="primary" @click="showWorks(data.item.works, data.item)">
                <i style="vertical-align: -webkit-baseline-middle;" class="fas fa-ellipsis-h"></i>
              </b-button>
            </template>

            <template v-slot:cell(settings)="data">
              <div class="actionButtons">
                <b-button v-b-modal.orderView size="sm" variant="primary" @click="editOrder(data.item)">
                  <i class="fas fa-pencil-alt"></i>
                </b-button>
                <b-button v-b-modal.orderConfirm v-if="isAdmin" size="sm" variant="danger" @click="showConfirmModal(data.item._id)">
                  <i class="fas fa-trash"></i>
                </b-button>
              </div>
            </template>
          </b-table>
        </div>
        <div v-else class="text-center">Nem található megrendelés.</div>
      </b-tab>
    </b-tabs>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'

import OrderService from '@/services/OrderService'

import orderView from '@/components/views/orderView'
import worksView from '@/components/views/worksView'
import customerView from '@/components/views/customerView'
import confirmModal from '@/components/confirmModal'
import search from '@/components/search'

export default {
  name: 'orders',
  components: { orderView, worksView, customerView, confirmModal, search },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    userTeams () { return _.get(this.$store.state, 'userTeams') }
  },
  data () {
    return {
      orders: [],
      doneOrders: [],
      fields: [
        'index',
        { key: 'status', label: 'Állapot' },
        { key: 'customer', label: 'Megrendelő' },
        { key: 'works', label: 'Munkák' },
        { key: 'settings', label: '' }
      ],
      actualOrder: {},
      actualWorks: [],
      actualCustomer: {},
      modalTitle: '',
      modalMessage: '',
      modalOk: () => {},
      loading: true,
      searchTypes: [
        { type: { text: 'Állapot', value: 'status' },
          options: [
            { text: 'Felmérés alatt', value: 'survey' },
            { text: 'Javításra vár', value: 'waitingForRepair' },
            { text: 'Javítás alatt', value: 'repair' }
          ]
        },
        { type: { text: 'Ügyfél neve', value: 'customer.name' }, options: false },
        { type: { text: 'Ügyfél címe', value: 'customer.address' }, options: false }
      ],
      searchDoneTypes: [
        { type: { text: 'Ügyfél neve', value: 'customer.name' }, options: false },
        { type: { text: 'Ügyfél címe', value: 'customer.address' }, options: false }
      ],
      searchOrders: [],
      searchDoneOrders: [],
      perPage: 10,
      currentPage: 1,
      currentDonePage: 1
    }
  },

  methods: {
    async getOrders () {
      this.loading = true
      const response = await OrderService.getOrders()
      if (response.data.error) {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.orders = _.filter(response.data, (order) => { return order.status !== 'done' })
        this.doneOrders = _.filter(response.data, (order) => { return order.status === 'done' })
        this.searchOrders = this.orders
        this.searchDoneOrders = this.doneOrders
      }
      this.loading = false
    },

    async deleteOrder (id) {
      let response = await OrderService.deleteOrder(id)
      if (!response.data.error) {
        this.getOrders()

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async update () {
      await this.getOrders()
      this.actualOrder = _.find(this.orders, ['_id', this.actualOrder._id])
      this.actualWorks = this.actualOrder.works
    },

    showWorks (works, order) {
      this.actualOrder = order
      if (!this.isAdmin) {
        this.actualWorks = _.filter(works, (work) => { return (_.includes(this.userTeams, _.get(work.team, '_id'))) })
      } else {
        this.actualWorks = works
      }
    },

    editOrder (order) {
      this.actualOrder = _.cloneDeep(order)
    },

    editCustomer (customer) {
      this.actualCustomer = _.cloneDeep(customer)
    },

    showConfirmModal (id) {
      this.modalTitle = 'Biztosan törlöd?'
      this.modalMessage = 'Vigyázz! A törlés végleges művelet!'
      this.modalOk = () => this.deleteOrder(id)
    },

    addNewOrder () {
      this.actualOrder = {
        status: 'survey',
        customer: {},
        works: []
      }
      this.actualWorks = []
      this.actualCustomer = {}
    },

    setSearchResult (payload, type) {
      if (type === 'doneOrders') {
        this.doneOrders = payload
      } else {
        this.orders = payload
      }
    }
  },

  mounted () {
    this.$root.$on('work-saved', this.update)
    this.$root.$on('new-customer', (payload) => { this.actualOrder.customer = payload.customer })
    this.$root.$on('update-customer', this.getOrders)
    this.$root.$on('update-order', this.getOrders)
    this.$root.$on('search', (payload, type) => this.setSearchResult(payload, type))
    this.getOrders()
  },

  beforeDestroy () {
    this.$root.$off('work-saved', this.update)
    this.$root.$off('new-customer', (payload) => { this.actualOrder.customer = payload.customer })
    this.$root.$off('update-customer', this.getOrders)
    this.$root.$off('update-order', this.getOrders)
    this.$root.$off('search', this.setSearchResult)
  }
}
</script>

<style scoped>
.tableButton, .tableButton:active, .tableButton:focus {
  background: unset !important;
  border: unset !important;
  color: black !important;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
}
</style>
