<template>
  <b-container fluid="md">
    <h1>Profil</h1>
    <b-form>
      <b-form-group
        id="name"
        label="Név"
        label-for="name"
        invalid-feedback="A nevet kötelező megadni!"
        :state="validName"
      >
        <b-form-input id="name" type="text" v-model="user.name"></b-form-input>
      </b-form-group>

      <b-form-group
        id="email"
        label="E-mail cím"
        label-for="email"
        invalid-feedback="Az e-mail címet kötelező megadni! Az e-mail címnek tartalmaznia kell @-ot."
        :state="validEmail"
      >
        <b-form-input id="email" type="text" v-model="user.email"></b-form-input>
      </b-form-group>

      <b-form-group
        id="username"
        label="Felhasználónév"
        label-for="username"
        invalid-feedback="A felhasználónevet kötelező megadni!"
        :state="validUsername"
      >
        <b-form-input id="username" type="text" v-model="user.username"></b-form-input>
      </b-form-group>
      <b-button
        variant="success"
        class="buttonRight"
        :disabled="!validName || !validEmail || !validUsername"
        @click="saveUser"
      >
        Mentés
      </b-button>

      <b-button variant="primary" @click="newPassword = !newPassword" class="mb-2">Jelszó módosítás</b-button>
      <div v-if="newPassword">
        <b-form-group
          id="oldpassword"
          label="Régi jelszó"
          label-for="oldpassword"
        >
          <b-form-input id="oldpassword" type="password" v-model="oldPw"></b-form-input>
        </b-form-group>

        <b-form-group
          id="newpassword"
          label="Új jelszó"
          label-for="newpassword"
          invalid-feedback="Az új jelszót kötelező megadni!"
          :state="validNewPassword"
        >
          <b-form-input id="newpassword" type="password" v-model="newPw"></b-form-input>
        </b-form-group>
        <b-button :disabled="!validNewPassword" variant="success" class="buttonRight" @click="savePassword">Jelszó mentése</b-button>
      </div>
    </b-form>
  </b-container>
</template>

<script>
import _ from 'lodash'

import UserService from '@/services/UserService'

export default {
  computed: {
    validName () { return !!_.get(this.user, 'name') },
    validEmail () { return !!_.get(this.user, 'email') && _.includes(this.user.email, '@') },
    validUsername () { return !!_.get(this.user, 'username') },
    validNewPassword () { return !!this.newPw }
  },
  data () {
    return {
      user: _.cloneDeep(_.get(this.$store.state, 'user')),
      newPassword: false,
      oldPw: '',
      newPw: ''
    }
  },

  methods: {
    async saveUser () {
      let response = await UserService.updateUser({
        id: this.user._id,
        name: this.user.name,
        email: this.user.email,
        username: this.user.username
      })
      if (!response.data.error) {
        this.$store.dispatch('setUser', this.user)
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async savePassword () {
      let response = await UserService.updatePassword({
        id: this.user._id,
        oldPw: this.oldPw,
        newPw: this.newPw
      })
      if (!response.data.error) {
        this.$store.dispatch('setUser', this.user)
        this.oldPw = ''
        this.newPw = ''
        this.newPassword = !this.newPassword
        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    }
  }
}
</script>

<style>
.buttonRight {
  float: right;
}
</style>
