<template>
  <b-container fluid="md">
    <h1>Javítások</h1>
    <search :searchTypes="searchTypes" :dataArray="searchRepairs" type="repair" class="mb-4" />
    <works-list v-if="repairs.length" :works="repairs" :order="actualOrder" />
    <div v-else-if="!loading" class="text-center">Nem található javítási munka!</div>
    <div v-else class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'

import WorkService from '@/services/WorkService'

import WorksList from '@/components/views/worksListView'
import search from '@/components/search'

export default {
  components: { WorksList, search },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    userTeams () { return _.get(this.$store.state, 'userTeams') }
  },
  data () {
    return {
      repairs: [],
      actualOrder: {},
      loading: true,
      searchTypes: [
        { type: { text: 'Dátum', value: 'date' }, options: false },
        { type: { text: 'Ügyfél neve', value: 'customer.name' }, options: false },
        { type: { text: 'Ügyfél címe', value: 'customer.address' }, options: false }
      ],
      searchRepairs: []
    }
  },

  methods: {
    async getRepairs () {
      this.loading = true
      let response = await WorkService.getRepairs()
      if (!response.data.error) {
        if (!this.isAdmin) {
          let filteredArray = _.filter(response.data, (repair) => { return (_.includes(this.userTeams, _.get(repair.team, '_id'))) })
          filteredArray.sort((a, b) => { return new Date(a.date) - new Date(b.date) })
          filteredArray = _.filter(filteredArray, (repair) => { return !repair.done })
          this.repairs = filteredArray
          this.searchRepairs = filteredArray
        } else {
          let array = response.data.sort((a, b) => { return new Date(a.date) - new Date(b.date) })
          array = _.filter(array, (repair) => { return !repair.done })
          this.repairs = array
          this.searchRepairs = array
        }
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
      this.loading = false
    },

    setSearchResult (payload) {
      this.repairs = payload
    }
  },

  mounted () {
    this.$root.$on('work-saved', this.getRepairs)
    this.$root.$on('search', (payload) => this.setSearchResult(payload))
    this.getRepairs()
  },

  beforeDestroy () {
    this.$root.$off('work-saved', this.getRepairs)
    this.$root.$off('search', this.setSearchResult)
  }
}
</script>
