<template>
  <b-container fluid="md">
    <h1>Beállítások</h1>
    <div v-if="!loadingUser" class="plusButton">
      <b-button v-b-modal.userView variant="primary" @click="addNewUser()" class="mb-2">
        <i class="fas fa-plus mr-2"></i>Új dolgozó hozzáadása
      </b-button>
    </div>

    <search v-if="!loadingUser" :searchTypes="searchUserTypes" :dataArray="searchUsers" type="user" class="mb-4" />
    <div v-if="users.length">
      <b-pagination
        v-model="currentUserPage"
        :total-rows="users.length"
        :per-page="perPage"
        aria-controls="userTable"
      />
      <b-table
        id="userTable"
        :fields="userFields"
        :items="users"
        :per-page="perPage"
        :current-page="currentUserPage"
        responsive
      >
        <!-- A virtual column -->
        <template v-slot:cell(index)="data">
          {{ data.index + 1 + perPage * (currentUserPage - 1) }}
        </template>

        <template v-slot:cell(role)="data">
          <div v-if="data.item.role === 'admin'">Adminisztrátor</div>
          <div v-if="data.item.role === 'teamleader'">Brigádvezető</div>
          <div v-if="data.item.role === 'user'">Brigád tag</div>
          <div v-if="data.item.role === 'office'">Irodai munkatárs</div>
        </template>

        <template v-slot:cell(settings)="data">
          <div class="actionButtons">
            <b-button v-b-modal.userView size="sm" variant="primary" @click="editUser(data.item)">
              <i class="fas fa-pencil-alt"></i>
            </b-button>
            <b-button
              v-if="data.item._id !== myAccount && data.item._id !== MAINADMIN"
              v-b-modal.userConfirm
              size="sm"
              variant="danger"
              @click="showUserConfirmModal(data.item._id)"
            >
              <i class="fas fa-trash"></i>
            </b-button>
          </div>
        </template>
      </b-table>
    </div>
    <div v-else-if="!loadingUser && !users.length" class="text-center">Nem található felhasználó!</div>

    <br />
    <div v-if="!loadingTeam" class="plusButton">
      <b-button v-b-modal.teamView variant="primary" @click="addNewTeam()" class="mb-2">
        <i class="fas fa-plus mr-2"></i>Új brigád hozzáadása
      </b-button>
    </div>
    <search v-if="!loadingTeam" :searchTypes="searchTeamTypes" :dataArray="searchTeams" type="team" class="mb-4" />
    <div v-if="teams.length">
      <b-pagination
        v-model="currentTeamPage"
        :total-rows="teams.length"
        :per-page="perPage"
        aria-controls="teamTable"
      />
      <b-table
        id="teamTable"
        :fields="teamFields"
        :items="teams"
        :per-page="perPage"
        :current-page="currentTeamPage"
        responsive
      >
        <!-- A virtual column -->
        <template v-slot:cell(index)="data">
          {{ data.index + 1 + perPage * (currentTeamPage - 1) }}
        </template>

        <template v-slot:cell(members)="data">
          {{ getMembersNames(data.item.members) }}
        </template>

        <template v-slot:cell(settings)="data">
          <div class="actionButtons">
            <b-button v-b-modal.addUserView size="sm" variant="success" @click="assignUser(data.item._id)">
              <i class="fas fa-user-plus"></i>
            </b-button>
            <b-button v-b-modal.teamView size="sm" variant="primary" @click="editTeam(data.item)">
              <i class="fas fa-pencil-alt"></i>
            </b-button>
            <b-button v-b-modal.teamConfirm size="sm" variant="danger" @click="showTeamConfirmModal(data.item._id)">
              <i class="fas fa-trash"></i>
            </b-button>
          </div>
        </template>
      </b-table>
    </div>
    <div v-else-if="!loadingTeam && !teams.length" class="text-center">Nem található brigád!</div>

    <user-view :user="actualUser" />
    <team-view :team="actualTeam" />
    <add-user-view :teamId="actualTeamId" />

    <!--  Confirm modal for delete -->
    <confirm-modal :modalId="modalId" :title="modalTitle" :message="modalMessage" :okMethod="modalOk" />

    <div v-if="loadingUser && loadingTeam" class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'

import UserService from '@/services/UserService'
import TeamService from '@/services/TeamService'

import userView from '@/components/views/userView'
import teamView from '@/components/views/teamView'
import addUserView from '@/components/views/addUserView'
import confirmModal from '@/components/confirmModal'
import search from '@/components/search'

export default {
  components: { userView, teamView, addUserView, confirmModal, search },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' },
    myAccount () { return _.get(this.$store.state, 'user._id') },
    MAINADMIN () { return '5fbe4e7ca284cc3610be63b2' }
  },
  data () {
    return {
      actualUser: {},
      users: [],
      userFields: [
        'index',
        { key: 'name', label: 'Név' },
        { key: 'role', label: 'Szerepkör' },
        { key: 'settings', label: '' }
      ],
      teams: [],
      teamFields: [
        'index',
        { key: 'name', label: 'Név' },
        { key: 'members', label: 'Brigádtagok' },
        { key: 'settings', label: '' }
      ],
      actualTeam: {},
      actualTeamId: null,
      modalId: null,
      modalTitle: '',
      modalMessage: '',
      modalOk: () => {},
      perPage: 10,
      currentUserPage: 1,
      currentTeamPage: 1,
      loadingUser: true,
      loadingTeam: true,
      searchUserTypes: [
        { type: { text: 'Név', value: 'name' }, options: false },
        { type: { text: 'Szerepkör', value: 'role' },
          options: [
            { text: 'Adminisztrátor', value: 'admin' },
            { text: 'Brigádvezető', value: 'teamleader' },
            { text: 'Brigád tag', value: 'user' },
            { text: 'Irodai munkatárs', value: 'office' }
          ]
        }
      ],
      searchTeamTypes: [
        { type: { text: 'Név', value: 'name' }, options: false },
        { type: { text: 'Brigádtagok', value: 'members' }, options: false }
      ],
      searchUsers: [],
      searchTeams: []
    }
  },

  methods: {
    async getUsers () {
      this.loadingUser = true
      let response = await UserService.getUsers()
      if (!response.data.error) {
        this.users = _.sortBy(response.data, ['name'])
        this.searchUsers = this.users
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
      this.loadingUser = false
    },

    async getTeams () {
      this.loadingTeam = true
      let response = await TeamService.getTeams()
      if (!response.data.error) {
        this.teams = _.sortBy(response.data, ['name'])
        this.searchTeams = this.teams
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
      this.loadingTeam = false
    },

    async updateTeams () {
      await this.getTeams()
      this.actualTeam = _.find(this.teams, ['_id', this.actualTeam._id])
    },

    async deleteUser (id) {
      let response = await UserService.deleteUser(id)
      if (!response.data.error) {
        this.getUsers()
        this.getTeams()

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    async deleteTeam (id) {
      let response = await TeamService.deleteTeam(id)
      if (!response.data.error) {
        this.getUsers()
        this.getTeams()

        this.$bvToast.toast(response.data.message, {
          title: 'Hurrá!',
          variant: 'success',
          solid: true,
          autoHideDelay: 5000
        })
      } else {
        this.$bvToast.toast(response.data.message, {
          title: 'Oh-oh!',
          variant: 'danger',
          solid: true,
          autoHideDelay: 5000
        })
      }
    },

    addNewUser () {
      this.actualUser = {}
    },

    editUser (user) {
      this.actualUser = _.cloneDeep(user)
    },

    assignUser (id) {
      this.actualTeamId = id
    },

    showUserConfirmModal (id) {
      this.modalId = 'userConfirm'
      this.modalTitle = 'Biztosan törlöd?'
      this.modalMessage = 'Vigyázz! A törlés végleges művelet!'
      this.modalOk = () => this.deleteUser(id)
    },

    showTeamConfirmModal (id) {
      this.modalId = 'teamConfirm'
      this.modalTitle = 'Biztosan törlöd?'
      this.modalMessage = 'Vigyázz! A törlés végleges művelet!'
      this.modalOk = () => this.deleteTeam(id)
    },

    addNewTeam () {
      this.actualTeam = {}
    },

    getMembersNames (members) {
      return _.join(_.map(members, 'name'), ', ')
    },

    editTeam (team) {
      this.actualTeam = _.cloneDeep(team)
    },

    updateUsers () {
      this.getUsers()
    },

    setSearchResult (payload, type) {
      if (type === 'user') {
        this.users = _.sortBy(payload, (user) => { return _.toLower(user.name) })
      } else {
        this.teams = _.sortBy(payload, (team) => { return _.toLower(team.name) })
      }
    }
  },

  mounted () {
    if (!this.isAdmin) {
      this.$router.push('/profile')
    } else {
      this.$root.$on('search', (payload, type) => this.setSearchResult(payload, type))
      this.$root.$on('team-saved', this.updateTeams)
      this.$root.$on('user-saved', this.updateUsers)
      this.getUsers()
      this.getTeams()
    }
  },

  beforeDestroy () {
    this.$root.$off('search', this.setSearchResult)
    this.$root.$off('team-saved', this.updateTeams)
    this.$root.$off('user-saved', this.updateUsers)
  }
}
</script>
