<template>
  <b-container fluid="md">
    <h1>Statisztika</h1>

    <div>Kimutatások szűrése:</div>
    <b-form inline @submit.prevent>
      <b-form-group
        id="date1"
        label="Melyik évtől?"
        label-for="date1"
        class="mr-3"
      >
        <b-form-input v-model="year1" type="number" input-class="form-control" class="ml-2" @input="setCharts" />
      </b-form-group>

      <b-form-group
        id="date2"
        label="Melyik évig?"
        label-for="date2"
        class="mr-3"
      >
        <b-form-input v-model="year2" type="number" input-class="form-control" class="ml-2" @input="setCharts" />
      </b-form-group>
    </b-form>
    <br />

    <div v-if="validYears && allChartIsLoaded">
      <b-tabs content-class="mt-3">
        <b-tab title="Éves bevételek" active>
          <h3>Éves össz bevétel</h3>
          <bar-chart
            v-if="loadedAnnualIncome"
            datalabel="Éves bevétel"
            color="#3268a8"
            :labels="annualIncomeLabels"
            :datas="annualIncomeChart"
            :height="chartHeight"
            class="chartClass"
          />

          <h3>Éves össz bevétel csapatonként</h3>
          <team-bar-chart
            v-if="loadedAnnualIncomeTeam"
            :labels="annualIncomeTeamLabels"
            :datasets="annualIncomeTeamChart"
            :height="chartHeight"
            class="chartClass"
          />
        </b-tab>

        <b-tab title="Havi bevételek">
          <h3>Havi bevétel ({{ year2 }})</h3>
          <bar-chart
            v-if="loadedMonthlyIncome"
            datalabel="Havi bevétel"
            color="#3268a8"
            :labels="monthlyLabels"
            :datas="monthlyIncomeChart"
            :height="chartHeight"
            class="chartClass"
          />

          <h3>Havi bevétel csapatonként ({{ year2 }})</h3>
          <team-bar-chart
            v-if="loadedMonthlyIncomeTeam"
            :labels="monthlyLabels"
            :datasets="monthlyIncomeTeamChart"
            :height="chartHeight"
            class="chartClass"
          />
        </b-tab>

        <b-tab title="Éves munkák">
          <h3>Éves össz munka</h3>
          <line-chart
            v-if="loadedAnnualWorks"
            datalabel="Éves munkák"
            color="#3268a8"
            :labels="annualWorksLabels"
            :datas="annualWorksChart"
            :height="chartHeight"
            class="chartClass"
          />

          <h3>Éves össz munka csapatonként</h3>
          <team-bar-chart
            v-if="loadedAnnualWorksTeam"
            :labels="annualWorksTeamLabels"
            :datasets="annualWorksTeamChart"
            :height="chartHeight"
            class="chartClass"
          />
        </b-tab>

        <b-tab title="Havi munkák">
          <h3>Havi munkák ({{ year2 }})</h3>
          <line-chart
            v-if="loadedMonthlyWorks"
            datalabel="Havi munkák"
            color="#3268a8"
            :labels="monthlyLabels"
            :datas="monthlyWorksChart"
            :height="chartHeight"
            class="chartClass"
          />

          <h3>Havi munkák csapatonként ({{ year2 }})</h3>
          <team-bar-chart
            v-if="loadedMonthlyWorksTeam"
            :labels="monthlyLabels"
            :datasets="monthlyWorksTeamChart"
            :height="chartHeight"
            class="chartClass"
          />
        </b-tab>
      </b-tabs>
    </div>

    <div v-if="!allChartIsLoaded" class="text-center">
      <div><i class="fas fa-spinner fa-pulse mr-2"></i>Betöltés</div>
    </div>
    <div v-else-if="allChartIsLoaded && !validYears" class="text-center">
      Nem találhatók a szűresnek megfelelő adatok!
    </div>
  </b-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import WorkService from '@/services/WorkService'
import TeamService from '@/services/TeamService'

import barChart from '@/components/charts/barChart'
import teamBarChart from '@/components/charts/teamBarChart'
import teamLineChart from '@/components/charts/teamLineChart'
import lineChart from '@/components/charts/lineChart'

export default {
  components: { barChart, teamBarChart, lineChart, teamLineChart },
  computed: {
    validYears () {
      return this.year1 <= this.year2 &&
              this.year1 >= 1900 &&
              this.year1.toString().length === 4 && this.year2.toString().length === 4
    },
    allChartIsLoaded () {
      return this.loadedAnnualIncome && this.loadedMonthlyIncome && this.loadedAnnualIncomeTeam &&
              this.loadedMonthlyIncomeTeam && this.loadedAnnualWorks && this.loadedMonthlyWorks &&
              this.loadedAnnualWorksTeam && this.loadedMonthlyWorksTeam
    }
  },
  data () {
    return {
      year1: 2017,
      year2: moment().year(),

      isMobile: false,
      chartHeight: 150,
      colors: ['#ebc334', '#74eb34', '#34b7eb', '#7a34eb', '#de34ed', '#ed6534', '#ed3434', '#5062d9'],
      works: [],
      teams: [],
      // Income - annual / monthly - sum / team
      annualIncomeChart: [],
      annualIncomeLabels: [],
      annualIncomeTeamChart: [],
      annualIncomeTeamLabels: [],

      monthlyIncomeChart: [],
      monthlyLabels: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Agusztus', 'Szeptember', 'Október', 'November', 'December'],
      monthlyIncomeTeamChart: [],

      // All work - annual / monthly - sum / team
      annualWorksChart: [],
      annualWorksLabels: [],
      annualWorksTeamChart: [],
      annualWorksTeamLabels: [],

      monthlyWorksChart: [],
      monthlyWorksTeamChart: [],

      loadedAnnualIncome: false,
      loadedMonthlyIncome: false,
      loadedAnnualIncomeTeam: false,
      loadedMonthlyIncomeTeam: false,
      loadedAnnualWorks: false,
      loadedMonthlyWorks: false,
      loadedAnnualWorksTeam: false,
      loadedMonthlyWorksTeam: false
    }
  },

  methods: {
    async getWorks () {
      let response = await WorkService.getWorks()
      if (!response.data.error) {
        this.works = _.filter(response.data, (work) => { return work.done })
        if (this.works && this.teams) {
          this.setCharts()
        }
      }
    },

    async getTeams () {
      let response = await TeamService.getTeams()
      if (!response.data.error) {
        this.teams = response.data
        if (this.works && this.teams) {
          this.setCharts()
        }
      }
    },

    setAnnualIncome (year1, year2) {
      this.loadedAnnualIncome = false
      this.annualIncomeChart = []
      this.annualIncomeLabels = []
      for (let i = year1; i <= year2; ++i) {
        let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === i })
        let annualIncome = 0
        _.forEach(filteredWorks, (work) => {
          annualIncome += work.cost
        })
        this.annualIncomeChart.push(annualIncome)
        this.annualIncomeLabels.push(i)
        this.loadedAnnualIncome = true
      }
    },

    setMonthlyIncome (year) {
      this.loadedMonthlyIncome = false
      this.monthlyIncomeChart = []
      let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === year })
      for (let i = 1; i <= 12; ++i) {
        this.monthlyIncomeChart[i] = 0
        _.forEach(filteredWorks, (work) => {
          if (moment(work.date).month() === i) {
            this.monthlyIncomeChart[i] += work.cost
          }
        })
      }
      this.loadedMonthlyIncome = true
    },

    setAnnualTeamIncome (year1, year2) {
      this.loadedAnnualIncomeTeam = false
      this.annualIncomeTeamChart = []
      this.annualIncomeTeamLabels = []
      let teamData = []
      _.forEach(this.teams, (team, index) => {
        teamData = []
        for (let i = year1; i <= year2; ++i) {
          let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === i })
          let annualIncome = 0
          _.forEach(filteredWorks, (work) => {
            if (work.team && work.team._id === team._id) {
              annualIncome += work.cost
            }
          })
          teamData.push(annualIncome)
        }

        this.annualIncomeTeamChart.push({
          label: team.name,
          backgroundColor: this.colors[index % this.colors.length],
          data: teamData
        })
      })

      for (let i = year1; i <= year2; ++i) {
        this.annualIncomeTeamLabels.push(i)
      }
      this.loadedAnnualIncomeTeam = true
    },

    setMonthlyTeamIncome (year) {
      this.loadedMonthlyIncomeTeam = false
      this.monthlyIncomeTeamChart = []
      let teamData = []
      _.forEach(this.teams, (team, index) => {
        teamData = []
        let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === year })
        for (let i = 1; i <= 12; ++i) {
          teamData[i] = 0
          _.forEach(filteredWorks, (work) => {
            if (moment(work.date).month() === i && work.team && work.team._id === team._id) {
              teamData[i] += work.cost
            }
          })
        }

        this.monthlyIncomeTeamChart.push({
          label: team.name,
          backgroundColor: this.colors[index % this.colors.length],
          data: teamData
        })
      })
      this.loadedMonthlyIncomeTeam = true
    },

    setAnnualWorks (year1, year2) {
      this.loadedAnnualWorks = false
      this.annualWorksChart = []
      this.annualWorksLabels = []
      for (let i = year1; i <= year2; ++i) {
        let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === i })
        this.annualWorksChart.push(filteredWorks.length)
        this.annualWorksLabels.push(i)
      }
      this.loadedAnnualWorks = true
    },

    setMonthlyWorks (year) {
      this.loadedMonthlyWorks = false
      this.monthlyWorksChart = []
      let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === year })
      for (let i = 1; i <= 12; ++i) {
        this.monthlyWorksChart[i] = 0
        _.forEach(filteredWorks, (work) => {
          if (moment(work.date).month() === i) {
            this.monthlyWorksChart[i] += 1
          }
        })
      }
      this.loadedMonthlyWorks = true
    },

    setAnnualTeamWorks (year1, year2) {
      this.loadedAnnualWorksTeam = false
      this.annualWorksTeamChart = []
      this.annualWorksTeamLabels = []
      let teamData = []
      _.forEach(this.teams, (team, index) => {
        teamData = []
        for (let i = year1; i <= year2; ++i) {
          let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === i })
          let annualWorks = 0
          _.forEach(filteredWorks, (work) => {
            if (work.team && work.team._id === team._id) {
              annualWorks += 1
            }
          })
          teamData.push(annualWorks)
        }

        this.annualWorksTeamChart.push({
          label: team.name,
          backgroundColor: this.colors[index % this.colors.length],
          data: teamData
        })
      })

      for (let i = year1; i <= year2; ++i) {
        this.annualWorksTeamLabels.push(i)
      }
      this.loadedAnnualWorksTeam = true
    },

    setMonthlyTeamWorks (year) {
      this.loadedMonthlyWorksTeam = false
      this.monthlyWorksTeamChart = []
      let teamData = []
      _.forEach(this.teams, (team, index) => {
        teamData = []
        let filteredWorks = _.filter(this.works, (work) => { return moment(work.date).year() === year })
        for (let i = 1; i <= 12; ++i) {
          teamData[i] = 0
          _.forEach(filteredWorks, (work) => {
            if (moment(work.date).month() === i && work.team && work.team._id === team._id) {
              teamData[i] += 1
            }
          })
        }

        this.monthlyWorksTeamChart.push({
          label: team.name,
          backgroundColor: this.colors[index % this.colors.length],
          data: teamData
        })
      })
      this.loadedMonthlyWorksTeam = true
    },

    setCharts () {
      if (this.year1 && this.year2 && this.validYears) {
        this.year1 = parseInt(this.year1)
        this.year2 = parseInt(this.year2)
        this.setAnnualIncome(this.year1, this.year2)
        this.setAnnualTeamIncome(this.year1, this.year2)
        this.setAnnualWorks(this.year1, this.year2)
        this.setAnnualTeamWorks(this.year1, this.year2)
        this.setMonthlyIncome(this.year2)
        this.setMonthlyTeamIncome(this.year2)
        this.setMonthlyWorks(this.year2)
        this.setMonthlyTeamWorks(this.year2)
      }
    },

    onResize () {
      this.chartHeight = window.innerWidth < 767 ? 500 : 150
    }
  },

  mounted () {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
    this.getTeams()
    this.getWorks()
  },

  beforeDestroy () {
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  }
}
</script>

<style>
canvas#bar-chart {
  margin: auto;
}

.chartClass {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}
</style>

<style scoped>
h3 {
  text-align: center;
}
</style>
