<template>
  <b-card class="comment">
    <b-card-text>{{ text }}</b-card-text>
    <b-card-text>{{ name }}, {{ dateFormat(date) }}</b-card-text>
  </b-card>
</template>

<script>
import moment from 'moment'

export default {
  props: ['text', 'date', 'name'],
  methods: {
    dateFormat (date) {
      return moment(date).locale('hu').format('LLLL')
    }
  }
}
</script>

<style scoped>
.comment {
  width: 95%;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0.5rem;
}
</style>
