<template>
  <b-modal
    ref="confirmModal"
    :id="modalId"
    :title="title"
    centered
    ok-variant="success"
    cancel-variant="danger"
    cancel-title="Mégse"
    header-bg-variant="danger"
    header-text-variant="white"
    no-close-on-backdrop
    @ok="okMethod"
  >
    {{ message }}
  </b-modal>
</template>

<script>

export default {
  props: ['modalId', 'title', 'message', 'okMethod']
}
</script>

<style>
.confirm {
  max-width: 400px;
}
</style>
