<template>
  <b-navbar toggleable="lg" type="dark" sticky style="background-color: #071169;">
    <b-navbar-brand to="/">Ablakszervíz</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav @shown="emitRootEvent" @hidden="emitRootEvent" @show="emitRootEvent" @hide="emitRootEvent">
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item v-if="isLoggedIn" to="/profile">Profil</b-nav-item>
        <b-nav-item v-if="!isLoggedIn" to="/login">Bejelentkezés</b-nav-item>
        <b-nav-item v-else to="#" @click="logout">Kijelentkezés</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  computed: {
    isLoggedIn () { return this.$store.state.isUserLoggedIn }
  },

  methods: {
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$store.dispatch('setUserTeams', null)
      this.$router.push('/login')
    },

    emitRootEvent () {
      this.$root.$emit('change-navheight')
    }
  }
}
</script>
