<template>
  <div class="noteCard">
    <b-card :title="cardTitle()">
      <b-card-text>{{ text }}</b-card-text>
      <b-card-text>{{ name }}, {{ dateFormat(date) }}</b-card-text>
      <div class="buttons">
        <!-- {{ likes }}
        <font-awesome-icon @click="like" :style="liked ? { color: 'red' } : { color: 'black' }" class="icon" icon="heart" /> -->
        {{ comments.length > 0 ? comments.length : '' }}
        <span v-if="comments.length" @click="showComments"><i class="fa fa-comments icon"></i></span>
        <span @click="writeComment"><i class="fa fa-comment-dots icon"></i></span>
      </div>
    </b-card>
    <div v-if="showCom" class="commentCards">
      <comment-card
        v-for="(comment, index) in comments"
        :key="index"
        :name="comment.user.name"
        :date="comment.date"
        :text="comment.text"
      />
    </div>
    <div v-if="writeCom" class="writeComment">
      <b-form @submit.prevent="addNewComment">
        <b-form-group id="text" label="" label-for="textInput">
          <b-form-textarea
            id="textarea"
            v-model="commentText"
            placeholder="Írj valamit..."
            rows="2"
            max-rows="6"
          />
        </b-form-group>

        <div class="submitButton">
          <b-button :disabled="!commentText" variant="success" type="submit">Komment</b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import NoteService from '@/services/NoteService'

import commentCard from '@/components/commentCard'

export default {
  components: { commentCard },
  props: [ 'id', 'title', 'text', 'date', 'name' ],
  data () {
    return {
      comments: [],
      showCom: false,
      writeCom: false,
      commentName: '',
      commentText: ''
    }
  },

  methods: {
    async getComments () {
      let response = await NoteService.getComments({
        id: this.id
      })
      if (!response.data.error) {
        this.comments = response.data
      }
    },

    async addNewComment () {
      let response = await NoteService.addComment({
        user: _.get(this.$store.state, 'user._id'),
        note: this.id,
        text: this.commentText,
        date: moment().format()
      })
      if (!response.data.error) {
        this.clearForm()
        this.writeCom = false
        this.getComments()
        this.showCom = true
      }
    },

    dateFormat (date) {
      return moment(date).locale('hu').format('LLLL')
    },

    cardTitle () {
      return this.title ? this.title : 'Nincs cím'
    },

    showComments () {
      this.writeCom = false
      this.showCom = !this.showCom
    },

    writeComment () {
      this.showCom = false
      this.writeCom = !this.writeCom
    },

    clearForm () {
      this.commentName = ''
      this.commentText = ''
    }
  },

  mounted () {
    this.getComments()
  }
}
</script>

<style scoped>
.icon {
  cursor: pointer;
}

.buttons {
  text-align: right;
}

.noteCard {
  margin-top: 1rem;
}

.submitButton {
  text-align: right;
}

.writeComment {
  width: 95%;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.commentCards {
  margin-bottom: 3rem;
}
</style>
