<template>
  <div>
    <b-form inline @submit.prevent>
      <b-form-group
        :id="`searchTypes-${type}`"
        label="Kereshető oszlopok"
        label-for="searchTypes"
        class="mr-3"
      >
        <multiselect
          :id="`searchTypes.types-${type}`"
          v-model="multiSearchType"
          :options="types"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
          @input="setSearchType"
          style="width:220px;"
          class="ml-2"
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </b-form-group>

      <b-form-group
        v-if="!hasOptions && !isDate"
        :id="`searchInput-${type}`"
        label="Keresett kifejezés"
        :label-for="`searchInput-${type}`"
        class="mr-3"
      >
        <b-form-input
          :id="`searchInput-${type}`"
          v-model="searchInput"
          type="text"
          placeholder="Írj ide valamit"
          class="ml-2"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        v-else-if="hasOptions"
        :id="`searchInput-${type}`"
        label="Keresett kifejezés"
        :label-for="`searchInput-${type}`"
        class="mr-3"
      >
        <multiselect
          :id="`searchInput-${type}`"
          v-model="multiSearchInput"
          :options="searchTypeOptions"
          track-by="value"
          label="text"
          :multiple="false"
          :allow-empty="false"
          :showLabels="false"
          placeholder=""
          @input="setSearchInput"
          style="width:220px;"
          class="ml-2"
        >
          <span slot="noResult">Nem található a keresésnek megfelelő elem.</span>
        </multiselect>
      </b-form-group>

      <b-form-group
        v-else-if="isDate"
        :id="`searchInput-${type}`"
        label="Keresett dátum"
        :label-for="`searchInput-${type}`"
        class="mr-3"
      >
        <datetime v-model="searchInput" type="date" input-class="form-control" class="ml-2"></datetime>
      </b-form-group>

      <b-button @click="search" type="button" variant="primary" class="ml-1 mr-1">Keresés</b-button>
      <b-button @click="reset" type="button" variant="primary" class="ml-1 mr-1">Visszaállítás</b-button>
    </b-form>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: ['searchTypes', 'dataArray', 'type'],
  computed: {
    types () { return _.map(this.searchTypes, 'type') },
    hasOptions () { return !!_.get(_.find(this.searchTypes, (s) => { return s.type.value === this.searchType }), 'options') },
    searchTypeOptions () { return _.get(_.find(this.searchTypes, (s) => { return s.type.value === this.searchType }), 'options') },
    isDate () { return this.searchType === 'date' }
  },
  data () {
    return {
      searchType: '',
      searchInput: '',
      resultArray: [],
      multiSearchType: {},
      multiSearchInput: {}
    }
  },

  methods: {
    search () {
      if (this.searchInput) {
        if (this.searchType === 'date') {
          this.searchInput = _.split(this.searchInput, 'T')[0]
        }
        if (this.searchType === 'members') {
          this.resultArray = _.filter(this.dataArray, (data) => {
            let members = _.map(data.members, 'name')
            return _.some(members, (member) => { return _.includes(_.toLower(_.toString(member)), _.toLower(this.searchInput)) })
          })
        } else {
          this.resultArray = _.filter(this.dataArray, (data) => {
            return _.includes(_.toLower(_.toString(_.get(data, this.searchType))), _.toLower(this.searchInput))
          })
        }
        this.$root.$emit('search', this.resultArray, this.type)
      }
    },

    reset () {
      this.searchType = null
      this.multiSearchType = null
      this.searchInput = ''
      this.multiSearchInput = ''
      this.$root.$emit('search', this.dataArray, this.type)
    },

    setSearchType () {
      this.searchInput = ''
      this.searchType = this.multiSearchType.value
    },

    setSearchInput () {
      this.searchInput = this.multiSearchInput.value
    }
  }
}
</script>
