<template>
  <sidebar-menu
    :menu="menu"
    width="250px"
    @toggle-collapse="onCollapse"
  />
</template>

<script>
import _ from 'lodash'

import { SidebarMenu } from 'vue-sidebar-menu'

export default {
  components: {
    SidebarMenu
  },
  computed: {
    isAdmin () { return _.get(this.$store.state, 'user.role') === 'admin' || _.get(this.$store.state, 'user.role') === 'office' }
  },
  data () {
    return {
      menu: [
        {
          header: true,
          title: 'Menü',
          hiddenOnCollapse: true
        },
        {
          href: '/',
          title: 'Főoldal',
          icon: 'fa fa-home'
        },
        {
          href: '/calendar',
          title: 'Naptár',
          icon: 'fa fa-calendar-alt'
        },
        {
          href: '/orders',
          title: 'Megrendelések',
          icon: 'fa fa-tools',
          child: [
            {
              href: '/works/surveys',
              title: 'Felmérések',
              icon: 'fa fa-screwdriver'
            },
            {
              href: '/works/repairs',
              title: 'Javítások',
              icon: 'fa fa-wrench'
            }
          ]
        },
        {
          href: '/materials',
          title: 'Anyagnyilvántartó',
          icon: 'fa fa-folder-open'
        },
        {
          href: '/statistics',
          title: 'Statisztika',
          icon: 'fa fa-chart-area'
        },
        {
          href: '/notes',
          title: 'Üzenőfal',
          icon: 'fa fa-comment-alt'
        },
        {
          hidden: this.isAdmin,
          href: '/settings',
          title: 'Beállítások',
          icon: 'fas fa-user-cog'
        }
      ]
    }
  },

  methods: {
    onCollapse () {
      document.getElementById('main').classList.toggle('collapsed')
    }
  }
}
</script>

<style>
@media screen and (min-width: 767px) {
  #main {
    padding-left: 250px !important;
  }
  #main.collapsed {
    padding-left: 50px !important;
  }
}
#main {
  padding-left: 50px;
}
</style>
